{% render 'partials/head.liquid' %}

<h1>Oncollaboration</h1>
<section>
    <div class="search-bar">
      <input type="text" placeholder="Search here..." />
      <button class="button">Search</button>
    </div>
 
    <form method="GET" action="/webinars">
        <label class="category-select-label" for="categories">Choose a category:</label>
        <select name="category" id="category" class="category-filter">
            <option value="" {% if not selectedCategory or selectedCategory=="" %}selected{% endif %}>All</option>
            {% for category in categories %}
                <option value="{{ category.name }}" {% if selectedCategory==category.name %}selected{% endif %}>
                    {{ category.name }}
                </option>
            {% endfor %} 
        </select>
        <button class="filter-enter" type="submit"> Enter </button>
    </form>
</section>

<h2>Webinars</h2>
<section class="webinar-container">
    {% for webinar in webinars %}
        <a href=" /webinars/{{ webinar.slug }}" class="webinar-detail-link">
            <article class="webinar-item">

                <!-- TUMBNAIL -->
                <img class="tumbnail-webinar" src="https://fdnd-agency.directus.app/assets/{{ webinar.thumbnail }}"  />

                <!-- TITLE -->
                <p class="title-webinar">{{ webinar.title }}</p>

                <!-- SPEAKER -->
                {% for speaker in webinar.speakers %}
                    <p class="speaker-webinar"> {{ speaker.avl_speakers_id.fullname }}</p>
                {% endfor %}

                <!-- DATE -->
                <p class="date-webinar">{{ webinar.date }}</p>

                <!-- CATEGORY -->
                {% for category in webinar.categories %}
                    <p class="category-label"> {{ category.avl_categories_id.name }}</p>
                {% endfor %}

            </article>
        </a>
    {% endfor %}
</section>

{% render 'partials/foot.liquid' %}